.navbar {
    padding-bottom: 0;
    padding-top: 0;
}

.container {
    margin-top: 25px;
}

.card-row {
    margin-top: 25px;
}

.home-btn-custom-style {
    min-width: 115px;
}

.secret-token-row {
    margin-top: 30px;
}

.get-token-test-details-result-row {
    margin-top: 25px;
}

.post-basic-auth-test-details-result-row {
    margin-top: 25px;
}

.response-title-span {
    font-weight: bold;
}

.underline-text {
    text-decoration: underline;
}

/*#region BUTTON STYLES */

.modal-title {
    color: #a50303;
}

.modal-body h5 {
    color: #a50303;
}

.modal-body div p {
    color: #a50303;
}

.close {
    color: #730000;
}

    .close:hover,
    .close:focus {
        color: #6b0000;
        text-decoration: none;
        cursor: pointer;
    }
/*#endregion*/
